[2013-04-25 10:24] twolfson opened #2 "ev.source is null in Firefox extensions"
tl;dr In Firefox browser extensions, `ev.source` is `null` for postMessages.

I am writing a [Pinboard.in](https://pinboard.in/) extension on [Crossrider](http://crossrider.com/) and trying to use [browserify](https://github.com/substack/node-browserify) to:
- Get some nice APIs for the extension
- Experimentation with browserify for extensions

I just caught a bug which shows `ev.source` is `null

[2013-04-25 14:33] #2 closed, assigned to nobody

[2013-05-27 14:07] jamielinux opened #5 "What license is your software?"
Please could you clarify what license your software is. I can't package it without a license declaration somewhere.

It would also be great if you could include a copy of the license you have chosen (eg, MIT), usually in a file called LICENSE.

Thanks!

[2013-05-28 05:03] #5 closed, assigned to nobody

[2014-01-06 11:57] avetisk opened #9 "process.stdout.write ≈ console.log"
Is it possible to have an early implementation of `process.stdout.write` with `console.log()`?

What would be also awesome is `process.stderr.write` ≈ `console.error`

[2014-01-06 15:07] #9 closed, assigned to nobody

[2014-01-11 06:34] kumavis opened #10 "process.hrtime()"
example:

[code]

[2014-01-11 18:55] #10 closed, assigned to nobody

[2014-01-11 18:58] kumavis opened #12 "Add "stay lean" policy to readme"
I understand your need to stay lean. You should mention this policy in the readme, and then maybe we can create a list of faithful shims the end user can add.

I published mine here https://github.com/kumavis/browser-process-hrtime

[2014-01-11 22:30] #12 closed, assigned to nobody

[2014-03-07 08:21] pocesar opened #14 "process.version should be shimmed"
I was trying to use bluebird on the browser, and it's trying to do a `process.version.indexOf`, and since it's missing from the shims, its failing before the module can 'takeof'.

[code]

I'm using it in browserify btw

[2014-03-07 14:57] #14 closed, assigned to nobody

[2014-04-07 11:17] maxleiko opened #15 "process.stdout browser shim is undefined"
When browserifying a module that uses `process` you'll get an `Uncaught TypeError...` if this module uses **stdout** properties ([see here](https://github.com/sindresorhus/has-color/pull/8))

[2014-04-07 13:35] #15 closed, assigned to nobody

[2014-07-25 19:03] hayes opened #18 "unnecessarily polluting window.postMessage"
would you be open to a PR that attaches the messageEvent to an iframe instead (similar to http://dean.edwards.name/weblog/2006/11/sandbox/)  or at least attempts to use stopImediatePropagation instead if it is available.  Do you have a preferred method?

[2014-08-29 04:12] #18 closed, assigned to nobody

[2014-12-02 14:39] spudly opened #26 "nextTick() fails when using an addEventListener polyfill in IE8"
If I use a polyfill to provide addEventListener for IE8, which is required by other modules that I need to use, process.nextTick will use postMessage. In the listener that is created, it is assumed that event.stopPropagation() exists and that event.source will be a reference to the window object, but this is not the case in IE8 with the shim. As a result, the callback passed to nextTick never gets

[2014-12-03 08:40] #26 closed, assigned to nobody

[2014-12-03 11:56] calvinmetcalf opened #28 "Better process.nextTick"
process.nextTick is somewhat slow here and fixing it is tricky because on one hand you don't want it to be big because it gets pulled into a huge number of libraries but on the other hand libraries that a user has no control over (like streams) use it meaning that stand alone async modules (like immediate and asap) can't solve the problem.

While perf tests tend to emphasize the latency of the asy

[2014-12-07 12:46] anandthakker opened #30 "Missing `process.version`"
A module that's using `process.version.match(...)` fails in the browser because there's no `process.version` on the shim.  See https://github.com/substack/node-browserify/issues/690.

[2014-12-08 10:43] #28 closed, assigned to nobody

[2014-12-09 07:44] #30 closed, assigned to nobody

[2015-01-30 18:46] nathanbowser commented on #28
This commit has caused an insane amount of bugs since we've upgraded. Are we sure this is better?

[2015-01-30 18:50] calvinmetcalf commented on #28
@nathanbowser can you be more specific ?

[2015-01-30 19:19] nathanbowser commented on #28
@calvinmetcalf Yea, totally. I put it on my todo list to build two examples where things broke badly when I upgraded. Will have it shortly.

[2015-02-07 02:37] domenic opened #32 "process.nextTick shim should use Promise.resolve().then(fn) if available"
This is currently the fastest cross-environment way of creating a microtask. But more interestingly, it works in environments like the V8 shell where there is no setTimeout available to fall back to. (Why do I need browserify bundles to run inside the V8 shell you ask? MAD SCIENCE!)

(Originally https://github.com/substack/node-browserify/issues/1109)

[2015-02-07 16:47] defunctzombie commented on #32
PR please and I will review :)

[2015-02-09 06:35] domenic commented on #32
I realized I'm not sure how to do this in v8 shell since I'm not sure how to signal the error. Normally with promises you would signal any errors via a pattern like

[code]

but of course the original problem I'm trying to solve is the lack of setTimeout.

The only alternative I can think of is `console.error`ing the error. But in V8 shell `console` doesn't even exist! So at this point I should pr

[2015-02-09 06:35] #32 closed

[2015-02-17 01:23] sinkingshriek opened #33 "missing process.versions"
Hi,
I'm using `node-bindings` which has [this](https://github.com/TooTallNate/node-bindings/blob/master/bindings.js#L16) line that uses `process.versions`. I'm also using `browserify` which uses this module.
From [this](https://github.com/defunctzombie/node-process/issues/14) issue it's quite clear to me that shimming wouldn't make sense but would it be okay to add `process.versions` in this modul

[2015-03-08 14:30] matthieubulte opened #35 "missing: process.stdout"
hi, process.stdout is missing. Would be really great to have a simple implementation for that!

[2015-03-08 17:36] defunctzombie commented on #35
https://github.com/defunctzombie/node-process#browser-implementation

[2015-03-08 17:36] #35 closed

[2015-03-08 17:37] defunctzombie commented on #33
added in master

[2015-03-08 17:37] #33 closed

[2015-03-10 07:00] sinkingshriek commented on #33
:smile: Thanks.

[2015-03-24 13:55] slorber commented on #28
@calvinmetcalf @nathanbowser this breaks Q lib too.

See https://github.com/substack/node-browserify/issues/1179

[2015-03-24 14:06] slorber commented on #28
I've made a PR here: https://github.com/defunctzombie/node-process/pull/37

[2015-04-12 20:20] vvo opened #39 "why not medikoo/next-tick?"
I ran into issues as well as #37 and #38 and was wondering if we should switch to https://github.com/medikoo/next-tick?

It's a dedicated next-tick project with clear goals (in term of what to use as nextTick).

Thoughts?

[2015-04-13 05:53] vvo commented on #39
I should not that `next-tick` is suffering from the same problem as process.nextTick here.

https://github.com/medikoo/next-tick/issues/3

[2015-04-22 15:17] avetisk opened #41 "process.stdout"
Would be great to have it implemented.

Many packages would run simply by having `process.stdout.write()` (I'm using browserify).

[2015-04-22 19:31] defunctzombie commented on #41
Will not implement because of the added complexity to this module. This module is loaded by default in many cases and I don't want to bloat the size.

[2015-04-22 19:31] #41 closed

[2015-04-23 11:11] calvinmetcalf opened #42 "pass arguments to nextTick"
looks like this was added in io.js 1.8.1 iojs/io.js#1077

[2015-04-23 11:47] #39 closed

[2015-04-24 19:00] #42 closed

[2015-06-19 16:59] wjordan opened #46 "support process.chdir"
BrowserFS provides a [basic implementation](https://github.com/jvilk/BrowserFS/blob/master/src/core/node_process.ts#L66-L93) of `chdir` and `cwd` in its own internal implementation of `process`. Would it be possible to include a similar implementation into this module, as a slight step up from the current [stubs](https://github.com/defunctzombie/node-process/blob/master/browser.js#L85-L89)?

[2015-06-19 18:02] defunctzombie commented on #46
Please see this part of the readme about additional features: https://github.com/defunctzombie/node-process#browser-implementation

Happy to accept a PR to add it to the list on the readme but will not expand the size of this module due to those concerns.

[2015-06-19 18:02] #46 closed

[2015-06-20 18:22] wjordan commented on #46
Thanks, I'll look to fill out this implementation elsewhere then. Perhaps removing the [`todo` comment](https://github.com/defunctzombie/node-process/blob/master/browser.js#L85) in the current source code would help to avoid future confusion.

[2015-08-14 17:59] DanFu9 opened #49 "currentQueue is null in drainQueue"
I'm getting an error in Firefox where `currentQueue` is `null` inside of `drainQueue` in `babel-core/browser.js`.  From stepping through the code, there appears to be a race condition between two instances of `drainQueue` running at once.  This is what is happening:

1. `drainQueue` starts the first time: `queueIndex` is -1, `queue` has one item in it
2. `draining` is set to true
3. `setTimeout(cl

[2015-09-08 15:51] calvinmetcalf commented on #49
the only way this could come up, would be if we were in an environment which redefined setTimeout in terms of process.nextTick which meant that the clean up function we thought would only run if the loop exited prematurely actually ran during the look because setTimeout was actually an alias for process.nextTick.

do Babel, Reflux, or React happen to set their own versions of setTimeout?  if So wh

[2015-09-09 00:51] #49 closed

[2015-10-04 03:41] deoxxa commented on #49
I'm seeing a similar problem in an environment that I'm putting together ([ottoext](http://fknsrs.biz/p/ottoext)) on top of the [otto](http://github.com/robertkrimen/otto) JavaScript interpreter. That interpreter, as with many others, doesn't contain an event loop. The way that I've implemented `setTimeout` and friends means that `setTimeout(fn)` is exactly the same as `process.nextTick(fn)`.

The

[2015-10-04 10:57] calvinmetcalf commented on #49
Omitting the number from setTimeout should be equivalent to setTimeout(fun,
4)

On Sat, Oct 3, 2015, 11:41 PM Conrad Pankoff <notifications@github.com>
wrote:

[2015-10-04 11:25] deoxxa commented on #49
Yep, that's the behaviour I ended up implementing. I still had very, very occasional crashes at the same point, but they were certainly less frequent. I ended up managing to avoid the problem entirely by implementing `setImmediate` on my own and telling webpack (which was pulling this in, indirectly) not to shim the `process` module.

[2015-10-04 12:45] calvinmetcalf commented on #49
If currentQueue is null in cleanUpNextTick that would likely be a seperate thing that would be worth opening it's own issue for. Off the top of my head it could be caused by clearTimeout not effectively removing the timeouts?

[2015-10-28 05:54] AshokKumarPathak opened #52 "process.versions.node is undefined"
I am doing browserify of “pdf2png-mp” npm module with following steps:
1. $ sudo npm install pdf2png-mp
2. $ browserify -r pdf2png-mp -o bundle.js
3. Created a html file that includes the following:

     <body>
      <script src="bundle.js"></script>
      <script>
        var md = require('pdf2png-mp');
     </script>
    </body>
Actual Results:
“TypeError: Cannot read property 'split' of undefi

[2015-10-28 14:41] calvinmetcalf commented on #52
so first off `pdf2png-mp` is not going to browserify even if this is fixed because it relies on some stuff that is impossible to browserify

more generally I wonder if it would be useful to fill up process.versions up with empty strings like process.version, e.g.

[code]

[2015-10-30 05:52] AshokKumarPathak commented on #52
Thank you calvin for your input.

[2015-11-02 06:16] defunctzombie commented on #52
@calvinmetcalf I think maybe not cause then someone else will have some script that checks for versions being an object and trying to query into the versions maybe. Can't please everyone :)

[2015-11-02 06:16] #52 closed

[2015-11-13 22:44] wesleytodd opened #53 "Extend even emitter instead of noop'ing those methods"
Is there a reason to noop the event emitter methods instead of just extending from the [event emitter](https://www.npmjs.com/package/events)?

I was thinking of patching `process.on('uncaughtException', function(){})` with `window.onerror` to handle this in the browser, but I would have to also patch these methods.  I could submit a PR with all of this if that is something you are interested in ha

[2015-11-13 22:50] calvinmetcalf commented on #53
the reason is because lots of people use this just for process.nextTick and
process.browser so we want to keep it as small as possible

On Fri, Nov 13, 2015 at 5:44 PM Wes Todd <notifications@github.com> wrote:

[2015-11-13 23:04] wesleytodd commented on #53
So the recommended method is to patch it with your own module?

[2015-11-13 23:04] #53 closed

[2015-11-13 23:22] calvinmetcalf commented on #53
yeah that would probably be best, or create a module that works isomorphicly, returning process if it's in node and and event emitter you created otherwise that

[2015-11-13 23:26] wesleytodd commented on #53
yeah, that is was I meant, just wasn't clear in my comment :)

[2015-11-13 23:31] calvinmetcalf commented on #53
:+1: then

[2016-03-14 13:57] langri-sha opened #54 "Missing `process.uptime()`"
Missing from the API https://nodejs.org/api/process.html#process_process_uptime. Returns number of seconds since the process has been running.

[2016-03-14 14:25] calvinmetcalf commented on #54
in light of https://github.com/defunctzombie/node-process#browser-implementation not adding it might be the best case forward as that allows others to polyfill it if they want

[2016-03-14 15:16] calvinmetcalf opened #55 "process.platform"
we should probably set this to 'browser', thoughts ?

[2016-03-14 20:39] langri-sha commented on #54
Thank you for pointing to the :memo:, makes perfect sense. If anyone wants to follow the guidelines, here's how I patched mine:

[code]

[2016-03-14 20:40] #54 closed

[2016-03-14 20:51] calvinmetcalf commented on #54
yeah I put it into my [es6 version](https://github.com/calvinmetcalf/node-process-es6) of this module, because there extra imports are less important.

[2016-03-19 06:29] defunctzombie commented on #55
Seems simple enough.

[2016-03-19 06:29] defunctzombie commented on #55
Tho then someone will complain saying it should be the user agent :p

[2016-03-19 11:34] calvinmetcalf commented on #55
well they'll probably really want it to be firefox or chrome and totally be
to young to remember the history of user agents

On Sat, Mar 19, 2016 at 2:29 AM Roman Shtylman <notifications@github.com>
wrote:

[2016-04-12 11:52] gitolathe opened #56 "Error: Unable to get property 'length' of undefined or null reference"
Hi,

From time to time (very seldom, probably less than one of every million user sessions) we see the error `Error: Unable to get property 'length' of undefined or null reference` logged for a user and we tracked it to the `if (currentQueue.length) {` statement in `cleanUpNextTick()` in `browser.js`.

It also seems like it's only affect users using IE 11, we have not seen this for FF or Chrome:
[

[2016-04-12 12:34] calvinmetcalf commented on #56
we could also move the timeout being cleared to before the currentQueue is set to null or we could add a check for currentQueue not being null in cleanUpNextTick, though we should first probably let the internet explorer team know about this because this is almost certainly a bug on their part

we had a similar bug in firefox a while back that turned out to be due to window.open being called in a

[2016-04-14 12:30] calvinmetcalf commented on #56
ok opened a bug with edge https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7206104/

[2016-05-09 18:06] calvinmetcalf commented on #56
@gitolathe any chance you could help the edge team reproduce https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7206104/ ?

[2016-06-10 15:26] calvinmetcalf commented on #56
anyway this should be fixed by #57 reopen if you continue to see it

[2016-06-10 18:29] yoshicarroll opened #59 "New versions breaking"
// cached from whatever global is present so that test runners that stub it don't break things.
var cachedSetTimeout = setTimeout;
var cachedClearTimeout = clearTimeout;

[2016-06-10 18:29] #59 closed

[2016-06-10 18:38] yoshicarroll opened #60 "New version breakage"
Hello,

I'm not entirely sure if this is the right place to document this problem, but the latest version of process is breaking for us on the lines below.

[code]

Webpack includes process into the bundles it creates, and we execute the bundles on the client and on the server for rendering React components. For the server rendering there is no setTimeout, so the new code fails.

Do you think the

[2016-06-10 19:41] calvinmetcalf commented on #60
setTimeout is 100% available in node on the server

[2016-06-10 19:46] calvinmetcalf commented on #60
so some more details about how you are generating the bundle and how you are running it would be appreciated

[2016-06-10 20:23] rdy commented on #60
This is causing a problem for me as well, primarily in tests where we mock out setTimout and clearTimeout. With the new change to cache these functions to isolate them from global they are instead bound to unexpected versions of setTimeout.

it is possible for us to force the cached versions to be the same mocked versions by either making sure we mock before requiring the file the the bundle or re

[2016-06-10 20:42] ilgooz commented on #60
@rdy I don't understand the use case of mocking the setTimeouts inside of nextTick. maybe you should mock nextTick itself? using setTimeout is a hack to simulate functionality of nextTick and programs should not rely on how nextTick achieves it's goal. the change is actually made to avoid setTimeout to getting stubbed by testing helpers at runtime to avoid code execution to hang out.

[2016-06-10 20:44] calvinmetcalf commented on #60
So this was done to prevent us from seeing mocked out versions of set timeout as that was breaking a lot of stuff including several test runners. What exactly were you doing were you needed this module to use a different version of setTimeout.

[2016-06-10 20:45] ilgooz commented on #60
for detailed information about the change please see sinonjs/lolex#66

[2016-06-10 20:46] rdy commented on #60
our use case is in using node streams in the browser but our tests. we specifically want to control the stream using a mocked setTimeout so we can synchronously test the results of interactions with the stream object.

i haven't really had the use case of needing asynchronous behavior in the test environment. FYI we are using jasmine.

[2016-06-10 20:51] rdy commented on #60
This is probably due to the fact our streams are relying on using nextTick simulated with setTimeout. I believe that the change made it much easier to deal with asynchronous testing but it really breaks synchronous style testing with mocks against the timers.

[2016-06-10 21:00] calvinmetcalf commented on #60
the fact this module uses setTimeout has not always been the case and may
not always be the case so you shouldn't consider it part of the public api.

Switching hats to me being a member of the node streams working group.
Making process.nextTick sync is not a good way to test steams as it will
alter their behavior in unforseen ways. Seriously I highly doubt it's as
robust a test as you think it is

[2016-06-10 21:07] yoshicarroll commented on #60
@calvinmetcalf We're not loading the bundle in node, just the V8 engine. From .net.

[2016-06-10 21:13] rdy commented on #60
We can lock down to the older version if the current cached behavior is the preferred implementation.

I'm in favor of not changing the semantics for the test environments, if I'm mocking setTimeout and clearTimeout globally I would expect anything that uses those calls to be also mocked, not the other way around. That seems to be more typical of things that rely on these globally available functi

[2016-06-10 21:23] calvinmetcalf commented on #60
@rdy I'd suggest mocking before requiring and locking down both steams and process

@yoshicarroll are you wrapping it in strictmode as well?

[2016-06-10 21:30] ilgooz commented on #60
@rdy following may help with the new situation. you can initialize it with before hook and restore with an after hook and use tick() to execute the next cb. I haven't tested the code tho. but webpack replaces _process_ where it sees, with a reference to this package in build time to shim. I don't know if there is any config to disable it. if you can disable process being automatically shimmed then

[2016-06-10 21:39] rdy commented on #60
Yea I thought about doing this as well @ilgooz.

I was able to work around the whole problem by locking down to 0.11.3 but I'll probably add the code to make sure the replacement of the setTimeout occurs before requiring process for the first time.

I should be able to completely replace the module with webpack to work around the problem of it being shimmed but that is almost the same as locking d

[2016-06-10 23:13] yoshicarroll commented on #60
@calvinmetcalf Yeah. Default behavior with Babel.

[2016-06-11 00:57] calvinmetcalf commented on #60
Dangerous to do stict mode on code that might not be strict mode compatible
in general, double so when not supplying globals that that some libraries
expect. We can likely do a check of some sort to make sure it doesn't throw
an early error, but you'll get another error if you have anything relying
on process.nextTick

On Fri, Jun 10, 2016, 7:13 PM Yoshi Carroll <notifications@github.com>
wrote:

[2016-06-11 14:52] #56 closed

[2016-06-11 15:00] calvinmetcalf commented on #60
@yoshicarroll #61 should fix your issue

@rdy I'm sorry your test broke but to be honest if it wasn't this than it would have been something in streams which makes some assumptions about process.nextTick being async.  If you need help testing streams async open an issue at [readable-streams](https://github.com/nodejs/readable-stream) and I'll be happy to help.

relevant XKCD

![](http://imgs.xkcd.

[2016-06-13 18:57] #60 closed

[2016-06-28 10:17] leidegre opened #62 "0.11.2 breaks IE11 compat"
I don't have the necessary environment right now to be able to repro this in a way that I can share. In a nutshell this is how I would presume you would repro this issue.

Environment Windows 7/IE 11

Some stuff that goes into the `<head/>` tag.

[code]

Using webpack with the following config to inject bluebird as the default Promise implementation everywhere. Webpack entry config as follows:

[c

[2016-06-28 19:16] calvinmetcalf commented on #62
ok I'm trying to reproduce it but unable to, can you post some compiled code that lets this happen, I'm currious if web pack is doing something unexpected.  The only references I'm finding to similar errors involve people doing stuff like `({setTimeout:setTimeout}).setTimeout(fn, 0)` or reflux/refluxjs#374 which I'm not 100% sure what they are referring to

[2016-06-29 12:53] leidegre commented on #62
@calvinmetcalf I've extracted the faulting module from webpack bundle. You can find it here.

https://gist.github.com/leidegre/98c40c9718615a41776519f5632d3b41

Though, I don't see anything fishy. Maybe you do?

It's not impossible that this bug has been fixed in later versions of IE11 and that it's only a problem with specific builds. This is of course happening in a corporate environment and I h

[2016-06-29 13:01] calvinmetcalf commented on #62
sorry, I meant in context of the bundle so I could try running it to see if I could get the error to happen

[2016-06-29 13:54] leidegre commented on #62
OK, here's an repro for you https://github.com/leidegre/node-process-ie11-bug

I've verified that the bug does occur with version 0.11.2 but not with 0.11.1.

![image](https://cloud.githubusercontent.com/assets/63085/16454602/a5755c88-3e11-11e6-9972-72804995613e.png)

![image](https://cloud.githubusercontent.com/assets/63085/16454631/bc8671d2-3e11-11e6-825f-309dc78e06a7.png)

Happy hunting!

[2016-06-29 13:56] calvinmetcalf commented on #62
ok thanks

[2016-06-29 14:11] calvinmetcalf commented on #62
remove   `devtool: 'eval',` and it's fixed

[2016-06-29 14:13] calvinmetcalf commented on #62
this fyi explains why we didn't see it more frequently that feature looks to be (based on the name) just used for dev tools, I'll take a look at web pack to see what exactly that option does, but it looks to be hacky involving eval, likey for source maps which, from what I remember, is probably not required any more

[2016-06-29 14:15] leidegre commented on #62
OK, cool.

The purpose of the `devtool: 'eval'` was to be able to browse the source as it was compiled, no source maps back to original source. That was how I understood it but maybe it is more invasive. I thought it was the equivalent of do nothing.

Will take a closer look! Feel free to close the issue if you're done with it.

[2016-06-29 14:17] calvinmetcalf commented on #62
there are actually a [few options](http://webpack.github.io/docs/configuration.html#devtool) 'cheap-module-source-map' or 'source-map' are probably what you want to use

[2016-06-30 11:43] leidegre commented on #62
@calvinmetcalf Actually no, I don't want source maps. Builds are quicker without them as well.

However, I don't understand why eval somehow changes the way IE11 treats the code but that remains to be explored.

[2016-06-30 12:49] ThomWright commented on #62
I'm seeing this on Edge as well as IE11.

Running the following in the console reproduces the issue easily enough.

[code]

[2016-06-30 13:23] calvinmetcalf commented on #62
so the eval is only there in order to create source maps so thats not an issue.

so for eval screwing stuff up, basically there is something wonky and wrong in how eval and setTimeout come together in IE11.

setTimeout issue
---

IE11 has an extra/unneeded test to check what the 'this' value of setTImeout is and seems to throw if it is defined but not window, in other words `({setTimeout:setTimeou

[2016-06-30 13:26] calvinmetcalf commented on #62
@ThomWright just tested this

[code]

[2016-06-30 14:42] ThomWright commented on #62
You're right, I just tried it again and it worked. Both times in Edge v20 (pretty ancient but that's what's in my VM). Very confusing! Maybe I was running it in a weird context without realising? :confused:

[2016-06-30 14:49] calvinmetcalf commented on #62
yeah I think we may be able to avoid wierdness by switching over to strict mode

[2016-07-04 17:53] mattdell opened #63 "IE11: Invalid Calling Object"
I'm having an issue on IE11 when calling process I get the error "Invalid Calling Object" in the method `process.nextTick()`.

![screen shot 2016-07-04 at 18 02 49](https://cloud.githubusercontent.com/assets/2536442/16566988/8d88221e-4211-11e6-8ef5-cc9f8abac63c.png)

Would anyone be able to shed some light on this one? It's extremely difficult to debug in IE, but `cachedSetTimeout` and `drainQueue

[2016-07-05 12:17] calvinmetcalf commented on #63
are you perhaps running with a bundler that is using eval to run it ?

[2016-07-05 12:34] calvinmetcalf commented on #63
dupe of #62 which we tracked down to a weird interaction between the webpack dev build and ie, I'm investigating fixes

[2016-07-05 12:37] calvinmetcalf commented on #63
we can talk about this in #62

[2016-07-05 12:37] #63 closed

[2016-07-05 12:57] mattdell commented on #63
Yeah, just like in #62 removing `devtool: 'cheap-module-eval-source-map'` fixes my issue.

[2016-07-06 14:28] Kar0t opened #65 "Bad gateway for 0.11.3"
When fetching this lib from npm, I get a bad gateway.

https://registry.npmjs.org/process/-/process-0.11.3.tgz

[2016-07-06 15:35] Kar0t commented on #65
Looks like it's fixed

[2016-07-06 16:01] #65 closed

[2016-07-06 16:01] calvinmetcalf commented on #65
that was an issue with npm not with this library so if you see it again you should talk to them about it

[2016-07-09 19:03] kennetpostigo opened #66 "NPM?"
Just wondering if this module is on npm, couldn't find it when searching around so just want to make sure if its there or not.

[2016-07-09 19:09] kennetpostigo commented on #66
Disregard, just found it.

[2016-07-09 19:09] #66 closed

[2016-07-26 13:35] #62 closed

[2016-07-27 16:12] BahKoo opened #68 "Safari on IOS 9.3.1: problem since version 0.11.4"
I'm building an application with the following libraries:
- angular 2.0.0-rc.4
- webpack 1.13.1

Some angular components do not immediately render to the screen when navigating to a new page. If the user taps the screen, the components are then rendered.

This was not a problem in version 0.11.3.
This problem exists in versions 0.11.4, 0.11.5 and 0.11.6.

My webpack config does not contain an entr

[2016-07-27 16:31] calvinmetcalf commented on #68
are you sure the only difference is this module considering from what I can tell, angular 2 doesn't use process.nextTick anywhere, unless you are using it somewhere.

Otherwise would you mind posting an example that doesn't work ?

[2016-07-27 17:47] BahKoo commented on #68
I'm sure that this module is the only difference. However I'm beginning to uncover more details. I'm also using the following libraries:
- breeze-client 1.5.6
- q 1.41

The stacktrace looks like this:
[code]

[2016-07-27 18:18] calvinmetcalf commented on #68
ok so this will almost always be at the top of any stack trace because of how things work in JavaScript, the only difference after 0.11.3. was that we fixed a bug where changing the global setTimeout would change the version we used.

[2016-07-27 19:09] BahKoo commented on #68
I'm not sure I follow. What would always be at the top of any stack trace? There are functions from the "q" and "breeze" libraries at the top of my stack trace.

[2016-07-27 19:11] calvinmetcalf commented on #68
nextTick is  a function in this library, there may be one in q as well

[2016-07-28 06:46] jhiesey commented on #62
I am having the exact same issue, but using the most recent code that already has #64 applied.

I seem to be able to work around it by replacing `cachedSetTimeout.call(null...` with `cachedSetTimeout.call(global...` so that the actually correct object is passed for `this`.

[2016-07-28 11:53] calvinmetcalf commented on #62
are you running it in web pack with the eval stuff ?

[2016-07-28 19:45] jhiesey commented on #62
I am seeing this in my tests using [`zuul`](https://github.com/defunctzombie/zuul), which is browserify based.

[2016-07-29 03:17] soundtina opened #69 "settimeout.call not work in IE9"
IE9 not work.

[2016-07-29 11:22] calvinmetcalf commented on #69
Ok going to need a few more details, how is it not working?  what sort of error are you getting?  what are you doing when you get the error? What build system are you using? What settings are you using with the build system?

[2016-07-29 14:33] calvinmetcalf commented on #62
@jhiesey try turning of coverage, #70 should probably help

[2016-07-29 14:51] calvinmetcalf commented on #62
though that being said I've been unable to reproduce this with zuul

[2016-08-01 20:08] #69 closed

[2016-08-02 15:41] BahKoo commented on #68
I tested release 0.11.7 and the issue remains. It looks like the [Q Library](https://github.com/kriskowal/q) does have its own implementation of a nextTick function and I imagine there's some kind of conflict with these libraries. The workaround that works for me is to continue using version 0.11.3 of this library.

[2016-08-02 16:37] calvinmetcalf commented on #68
@BahKoo are you able to put together like a simple example that shows this happening?

likely somewhere there is someone replacing setTImeout with something else...

[2016-08-26 23:56] semmypurewal commented on #68
I believe we're hitting the same issue or a closely related issue. We're also using q, and our target platform doesn't have a native setTimeout. We define a setTimeout when our file is first evaluated, but you may be caching the undefined setTimeout before we can set it.

It does look like the stack trace is originating with q, however. We're using q 1.0.1.

Right now I can repro this issue from 0

[2016-08-27 14:11] calvinmetcalf commented on #68
Ok sounds like a short term fix would be to make site to define the thing
earlier and for us to ignore the catched value if it's falsey

On Sat, Aug 27, 2016, 1:56 AM Semmy Purewal <notifications@github.com>
wrote:

[2016-08-29 14:59] calvinmetcalf commented on #68
ok we have a similar test for it working if setTimeout is not available so we should be able to possibly add a test here, in generally it sounds like we want to defer caching if set/clear timeout aren't available yet

[2016-08-29 17:06] calvinmetcalf commented on #68
@semmypurewal please test against #73 I think I fixed it and added tests that cover it

[2016-08-29 17:25] semmypurewal commented on #68
Thanks very much for the quick turnaround on this! It may be tomorrow or Wednesday before I can give it a try, but I'll report back here when I do.

[2016-08-30 18:28] semmypurewal commented on #68
I gave this a try, and it does seem to solve our problem! I also ran the tests without the console.log statements, and they seem to pass just fine.

Will this fix be in 0.11.9?

[2016-08-30 18:35] calvinmetcalf commented on #68
yeah It works from me without the console.log...I feel like I'm being lampshaded

[2016-09-01 15:45] STRML commented on #39
Now that `next-tick` has fixed that issue, is it reasonable to put this back in?

Currently the `nextTick` implementation relies on `setTimeout(fn, 0)`.

[2016-09-01 18:25] calvinmetcalf commented on #39
This has _significantly_ better compatibility then next-tick and intentionally has no deps so works without any sort of builder, it also works in some situations that next-tick doesn't yet such as when test runners stub out global methods we use and it handles multiple arguments being passed to nextTick (which next-tick hasn't been updated to handle).

I'd also point out that this only relies on s

[2016-09-01 18:38] STRML commented on #39
Thanks! It's somewhat difficult to read so I appreciate this overview. I absolutely understand not wanting to introduce dependencies.

[2016-11-09 02:27] isiahmeadows commented on #55
I feel `process.platform` should just be `"browser"`. It's a single API (implementations don't vary in the core API, unlike Node in different OSs), and testing for user agent is hardly useful at best, especially when you're just doing basic environment detection. It's like asking for `process.platform` to be `"debian"`, `"ubuntu"`, `"fedora"`, etc. instead of just `"linux"` on Linux distros.

[2016-11-09 02:33] isiahmeadows commented on #55
@defunctzombie @calvinmetcalf

I feel `process.platform` should just be `"browser"`. It's a single API (complete with entirely different path handling and file management), and testing for user agent is hardly useful at best, especially when you're just doing basic environment detection. Asking for `process.platform` to reflect the user agent is like asking it to be `"debian"`, `"fedora"`, etc. in

[2016-11-16 15:56] calvinmetcalf commented on #68
anyway I think this was fixed by #73 so closing

[2016-11-16 15:56] #68 closed

[2017-04-05 06:26] ORESoftware opened #74 "process binding not support is not necessary"
I think there is a specification error in the code

[code]

It would be much better if process.binding() and process.chdir() were no-ops.
Throwing an error literally just breaks things, there is no point in polyfilling functions and just throwing an error, it doesn't make any sense. If the behavior is not supported in the browser just make it a noop. I hope this makes sense to you!

As you can see

[2017-04-05 06:31] ORESoftware commented on #74
Specifically, I see process.binding() being called here:

[code]

[2017-04-05 06:39] ORESoftware opened #75 "var execArgs = process.execArgv.slice(0); //copy it"
looking for process.execArgv

in this codebase, it should just be an empty array

` process.execArgv = []`

I call this in my code:

 var execArgs = process.execArgv.slice(0);

and it will obviously error out because apparently process.execArgv is not defined.

please add thank you

[2017-04-05 06:54] ORESoftware commented on #75
I will submit a PR for these

[2017-04-05 12:09] calvinmetcalf commented on #74
I think the idea here is that process.binding is something that ONLY applies to node, not to browser code so that if it is ever called in the library you are almost certainly attempting to use a module that won't work and thus should raise an error.

What is the module that raising the errors ?

[2017-04-05 12:13] calvinmetcalf commented on #75
shouldn't your code be checking to see if it's running in a browser (e.g. with a check on `process.browser`) before doing anything that assumes it's in node if there is a chance that it's not in the browser?

Even if it returned an empty array, there would still be a pretty good chance of an error considering in node the array will always have at least 1 thing in it.

[2017-04-05 17:29] ORESoftware commented on #75
idk what to say, the purpose of polyfilling these core modules for the browser is to simply have the most reasonable possible values.

If you look at the code process.argv is defined. That also does not exist in the browser. It's there for convenience so that the developer does not have to do unnecessary if/else checks to see if the code is running the browser or not.

eliminating these if/else ch

[2017-04-05 17:31] ORESoftware commented on #74
It's not my code, I cannot control it, it might be a core module, or an NPM module, not sure which. I can check.

[2017-04-05 17:35] ORESoftware commented on #74
@calvinmetcalf if you think about it, the developer using your library can carry the responsibility of checking if the code is running in the browser or node.js, or wherever.

the developer can call:

[code]

_throwing an error doesn't help anyone_ - it gives the developer using your polyfill less power/less control.

The developer using your library is smart enough to not call `process.binding()

[2017-04-05 17:45] calvinmetcalf commented on #74
You are trying to use in a browser a module called [builtin-modules](https://github.com/sindresorhus/builtin-modules), you 100% do not want to bundle this up for use in the browser as it's just a list of of the paths on your hard drive where you can find the builtin-modules.

[2017-04-05 17:53] calvinmetcalf commented on #75
yes but the caveat being that it applies to code that can reasonably run in the browser or node,  the only reason you'd check `process.execArgv` is to check the node binary location or something similar that makes zero sense in a browser, in those kinds of situations you do want if then branches to execute different code depending on your very different environments.

I would suspect you are getti

[2017-04-05 19:12] ORESoftware commented on #74
@calvinmetcalf I might be be able to avoid it, but right now the call to builtin-modules is in my codebase and will get bundle by webpack.

ultimately, my problem will be solved if you were to accept the PR changes. I am not sure if it would cause others problems.

[2017-04-05 19:13] ORESoftware commented on #74
@calvinmetcalf my use case is different, this is not for a web application. I am trying to get a library that was heavily written for backend use, into the browser. I can't rewrite my library to make it more browser friendly. The better way to do it is to shim things so that they are at worst no-ops in the front-end.

I might just have to steal the code and adapt it for my use, that's no big deal.

[2017-04-05 19:18] ORESoftware commented on #75
@calvinmetcalf fully intend to include the modules that I did

you have` process.argv` in your codebase, it does not exist in the browser :)

`process.execArgv` does not exist anywhere that `process.argv` does not

it's not a big deal, I will take the code and repurpose it, most people are not taking the kind of backend codebase that I have and trying to browserify it.

[2017-04-05 19:35] calvinmetcalf commented on #75
this library is included in a lot of bundles by default so we have a policy of being fairly conservative on what we include. `argv` is included while `execArgv` probably just because argv is included an order of magnitude more often plus `execArgv` would only likely only be included if you were messing with the file system or similar.

I'm not against adding it in principle, I do suspect there is

[2017-04-05 19:47] calvinmetcalf commented on #74
ok so my reasoning is that most every situation I can think of code that accessed bindings is an error that you didn't mean to include and having an early error helps because it lets you know oops I didn't mean to include this file in my bundle.

making a fork that does something unique is something [I've done myself](https://github.com/calvinmetcalf/node-process-es6), you could probably also just

[2017-04-05 21:01] ORESoftware commented on #75
I won't be using it, I just need an array to be defined, we both agree that it would mean nothing because it we are in the browser. the only reason I need it is so that my code doesn't break unncessarily.

I could do this in my code:

[code]

but it really helps if this call is loaded before my code. I think you would understand why it's important for this to be defined before any user code is inv

[2017-04-05 21:07] ORESoftware commented on #74
I am trying to bundle a test library - https://github.com/sumanjs. It's similar to AVA, it's heavily backend (node.js) oriented, but I know that it can be lifted into the browser with the right polyfills, but I may have to write most of those polyfills myself. For example, there apparently is no good fs polyfill, but I know that I can write one that will fit my use case.

Fortunately, people using

[2017-04-05 21:49] calvinmetcalf commented on #74
https://github.com/mafintosh/browserify-fs

On Wed, Apr 5, 2017 at 5:07 PM Operations Research Engineering Software+ <
notifications@github.com> wrote:

[2017-04-05 22:33] ORESoftware commented on #74
@calvinmetcalf I tried that it doesn't work for me, will take another look though

[2017-04-05 22:35] ORESoftware commented on #74
What I actually will want to do is patch fs for the browser and make most of the methods on fs no-ops. Looks like browserify-fs is attempting to fill in some of the functionality of fs, but I don't need that.

[2017-04-05 22:37] ORESoftware commented on #74
@calvinmetcalf this is where I could use your help though -

https://github.com/webpack/webpack/issues/4640

if you look towards the bottom, what I am looking to do is use Webpack and plugin my own polyfills instead of using the "official" ones. If you have any idea how to do that, please lmk.

[2017-10-29 00:12] domenic opened #80 "process.hrtime"
This is pretty easy to shim in few lines of code as seen by https://github.com/kumavis/browser-process-hrtime/blob/master/index.js . (And you can omit the browser prefixed versions.)

[2017-10-30 12:54] calvinmetcalf commented on #80
so this gets pulled into a LOT of packages so we'd want to do it small, also this gets run in some weird environments, like without setTimeout so I may need to check what those people were doing and if they would have Math and Date available.

[2017-11-06 08:00] CMCDragonkai commented on #55
I vote for browser as well. For now I have to check for `process.browser === true` instead of just checking `process.platform`.

[2017-11-06 13:54] zenflow commented on #55
@CMCDragonkai `if (process.browser === true) {` is not any more code than `if (process.platform === 'browser') {` ... ? Not sure what case `process.platform` is simpler in... ?

Also the `=== true` bit is redundant (i.e. use just `if (process.browser) {`) unless you need the result to always be an actual Boolean and not just truthy-falsy.

[2017-11-07 13:15] calvinmetcalf commented on #55
pull requests are accepted wink wink

[2018-03-12 11:09] vmx commented on #55
I've made a module to make the `process.platform` resemble the Node.js ones. This is useful for testing when you test on Node.js as well as on Browsers and need to skip tests based on the platform: https://github.com/ipfs/browser-process-platform/

[2018-03-12 20:12] dead-claudia commented on #55
@vmx I would consider it unusual to need that. Browsers are sufficiently uniform across operating systems (we only need to remap key bindings, not paths, etc.) that for most use cases, it's pointless to draw such a distinction. Also, when it comes to skipping tests like that, I typically prefer controlling how I invoke the runner rather than in the tests themselves.

[2018-03-12 22:33] vmx commented on #55
@isiahmeadows It's indeed uncommon. In my case some HTTP API is tested which is not fully implemented on all platforms. Hence I skip tests based on the platform the Browser is running on.

[2018-05-14 12:40] CMCDragonkai commented on #55
@defunctzombie We have a PR for the platform field. https://github.com/defunctzombie/node-process/pull/82

[2018-09-05 22:40] jimmywarting opened #83 "process.emitWarning is undefined"
getting into an error using something experimental
it is throwing an error saying: `process.emitWarning is not a function`

[2019-01-11 22:05] jimmywarting opened #86 "process.nextTick is slow"
`setTimeout` is clamped down to 4ms and even more when tab is hidden.
I saw some old PR attempt at using Observer PostMessage immidate and other but you still use `setTimeout` and that came back and bite us when transferring data https://github.com/webtorrent/webtorrent/issues/1568

Could you look into using something faster then setTimeout?

[2019-01-11 22:56] calvinmetcalf commented on #86
hey so I replied in the other issue but the gist is that there are some reasons for not putting that fancy fast things in this default library but i have [a different library](https://github.com/calvinmetcalf/immediate) that it might make sense to use.

[2020-06-05 12:56] tinchoz49 commented on #86
What about try to use queueMicrotask and use the old one behavior as a fallback?

[2020-06-05 15:57] tinchoz49 commented on #86
Or if we use https://github.com/calvinmetcalf/immediate we can add support for window.queueMicrotask there :)

[2020-06-05 18:54] calvinmetcalf commented on #86
the latter is probably a better option, this library get's included in a lot of bundles so the aim is to keep is small

[2020-06-05 20:48] tinchoz49 commented on #86
It's true is everywhere :smile: and I understand your point but if you don't mind I'm going to do a PR with the changes that I was thinking and you can tell me if it's too much.

[2021-04-07 14:14] kraenhansen opened #90 "Missing listenerCount method"
From [the Node.js documentation](https://nodejs.org/api/process.html#process_process_events):

As such, it should stub all methods on the `EventEmitter` API, in particular the [`listenerCount`](https://nodejs.org/api/events.html#events_emitter_listenercount_eventname) method is missing.